.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed; /* kjo bohet qe te jet me te njetin position me plesen tjt */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}